button {
  padding: .8rem;
  border-radius: 0.2rem;
  background-color: #025297;
  border: 2px solid #025297;
  color: #fff;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  border: 2px solid #fff;
}
