button {
  padding: 1.2rem 1rem;
  border-radius: 0.2rem;
  background-color: #5b7cfd;
  border: 2px solid #5b7cfd;
  color: #fff;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button:hover {
  border: 2px solid #fff;
}
