* {
  background-color: #e7eef7;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Gotham";
  src: local("Gotham"), url(./fonts/GothamMedium.ttf) format("truetype");
}

#root {
  font-family: "Roboto", Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  color: #212b40;
}

.container {
  padding: 2rem 5rem;
  background-color: #E7EEF7;
  margin-bottom: 2rem;
}

/*-------------------------------------*/
.header {
  display: block;
  top: 0rem;

  width: 100%;
  position: sticky;
}

.header-menu {
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items: center;
  padding: 1rem;
  font-family: 'Gotham';
}

/** SETIINGS */
.back-border {
  margin: 1rem 0;
  display: flex;
  align-items: center;
  padding: .7rem;
  border-radius: .5rem;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.02);
}

.back-border, .back-border input, .back-border label , .back-border select {
  background-color: #F5F6FA;
}

.back-border input, .back-border label {
  cursor: pointer;
}

/** PANEL */
.panel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: .5rem;
  box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.02);

}

.panel, .panel input, .panel label, .panel h3, .panel select {
  background-color: #F5F6FA;
}

.panel select {
  font-weight: bold;
  padding: .5rem;
  border-radius: .5rem;
  border: 1px solid #212b4078;
  cursor: pointer;
}

/* kilogramaToString */
.kilogramaToString {
  font-size: 2rem;
}

/** LIST */
.list {
  display: block;
  padding: 0 1rem;
}

.list table {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.list table th{
  padding-bottom: .5rem;
  border-bottom: 1px solid #212b40;
}

/** footer data*/
.footer-data {
  padding: 1rem;
}

.footer-data table {
  border: 1px solid #212b40;
}

.footer-data table tr>td{
  padding: 0 0;
  border-bottom: 1px solid #212b40;

}

.section-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}


@media print {
  .header {
    display: none;
  }
  .some {
    display: none;
  }
}